{% extends 'base.html' %}

{% block content %}
  <section class="checkout">
     <div class="billing_form">
       <h1>{{ _('Billing Details') }}</h1>
       <form action="{{ url_for('payment_bp.checkout') }}" method="post" id="checkoutForm">
         {{ form.hidden_tag() }}
         <div>
           {{ form.first_name.label() }}
           {{ form.first_name() }}
         </div>
         <div>
           {{ form.company_name.label() }}
           {{ form.company_name() }}
         </div>
         <div>
           {{ form.street_address.label() }}
           {{ form.street_address() }}
         </div>
         <div>
           {{ form.apartment.label() }}
           {{ form.apartment() }}
         </div>
         <div>
           {{ form.town_city.label() }}
           {{ form.town_city() }}
         </div>
         <div>
           {{ form.number.label() }}
           {{ form.number() }}
         </div>
         <div>
           {{ form.email.label() }}
           {{ form.email() }}
        </div>     
        <span>
          <input type="checkbox" id="checkbox" class="checkbox">
          <label for="checkbox">{{ _('Save this information for faster check-out next time') }}</label>
        </span>
      </form>
     </div>
     
     <div class="billing_details">
       <section class="cart_items">
         {% for item in cart %}
           <div class="item">
            <a href="/product_details/{{ item.product_id }}" class="product">
              <img src="{{ url_for('static', filename='images/product_images/' + item.image )}}" alt="item image" width="70" height="70">{{ item.name |  truncate(15)}}
            </a>
             <p>${{ item.price * item.amount}}</p>
           </div>
         {% endfor %}
       </section>
       <section class="checkout_total">
        <div class="container">
          <div class="info">
           <p>{{ _('SubTotal') }}</p>
           <p>${{ total_price }}</p>
          </div>
          <span class="line"></span>
          <div class="info">
            <p>{{ _('Shipping') }}</p>
            <p>{{ _('Free') }}</p>
          </div>
          <span class="line"></span>
          <div class="info">
            <p>{{ _('Total') }}:</p>
            <p>${{ total_price }}</p>
          </div>
          <div class="submitting_section">
            <section class="coupon">
              <input type="text" placeholder="{{ _('Coupon Code') }}" min="6" max="6">
              <button type="submit" class="checkout-btn">{{ _('Apply Coupon') }}</button>
            </section>
            <button type="button" class='checkout-btn' id='checkout-btn' form="checkoutForm">{{ _('Place Order') }}</button>
          </div>
         </section>
        </div>
     </div>
  </section>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    let stripe = Stripe('{{ stripe_public_key }}')
    let checkoutBtn = document.getElementById('checkout-btn')

    checkoutBtn.addEventListener('click', function (event) {
      event.preventDefault()
      fetch('/checkout', {
        method: 'POST',
        headers: {
           'Content-Type': 'application/json',
           'X-CSRFToken': '{{ form.csrf_token._value() }}'
        },
        body: JSON.stringify({
          first_name: document.getElementById('checkoutForm').first_name.value,
          company_name: document.getElementById('checkoutForm').company_name.value,
          street_address: document.getElementById('checkoutForm').street_address.value,
          apartment: document.getElementById('checkoutForm').apartment.value,
          town_city: document.getElementById('checkoutForm').town_city.value,
          number: document.getElementById('checkoutForm').number.value,
          email: document.getElementById('checkoutForm').email.value
        })
      })
      .then((result) => { return result.json(); })
      .then((data) => {
        return stripe.redirectToCheckout({ sessionId: data.sessionId})
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    })
  </script>
{% endblock%}