cachetools==5.3.3
click==8.1.7
colorama==0.4.6
distlib==0.3.7
dnspython==2.4.2
filelock==3.13.1
Flask==2.3.3
Flask-Admin==1.6.1
flask-babel
Flask-Cors==4.0.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gunicorn==21.2.0
iniconfig==2.0.0
itsdangerous==2.1.2
Mako==1.2.4
mysqlclient==2.2.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==2.0.0
SQLAlchemy==2.0.20
virtualenv==20.24.6
Werkzeug==2.3.7
WTForms==3.0.1
WTForms-Components==0.10.5
itsdangerous
stripe
Pillow==10.0.0