.contacts-page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.contacts-page {
  padding: 0 135px;
}
@media (max-width: 466px) {
  .contacts-page {
    padding: 0 50px;
  }
}
.contacts-page .contacts-title {
  color: black;
  font-size: 14px;
  margin-top: 80px;
  font-family: "Poppins";
}
.contacts-page .contacts-title span {
  color: gray;
}
.contacts-page .contacts-wrapper {
  display: flex;
  gap: 30px;
  padding-top: 80px;
}
@media (max-width: 870px) {
  .contacts-page .contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.contacts-page .contacts-wrapper .contacts-info {
  width: 30%;
  height: 457px;
}
@media (max-width: 870px) {
  .contacts-page .contacts-wrapper .contacts-info {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 700px) {
  .contacts-page .contacts-wrapper .contacts-info {
    height: fit-content;
  }
}
.contacts-page .contacts-wrapper .contacts-info .info-container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  gap: 2em;
}
@media (max-width: 870px) {
  .contacts-page .contacts-wrapper .contacts-info .info-container {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: space-around;
    flex-wrap: nowrap;
    gap: 2em;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .contacts-page .contacts-wrapper .contacts-info .info-container {
    flex-direction: column;
    align-items: center;
  }
}
.contacts-page .contacts-wrapper .contacts-info .info-container .info, .contacts-page .contacts-wrapper .contacts-info .info-container .form, .contacts-page .contacts-wrapper .contacts-info .info-container .info div, .contacts-page .contacts-wrapper .contacts-info .info-container .form div {
  display: flex;
  gap: 1em;
}
.contacts-page .contacts-wrapper .contacts-info .info-container .info, .contacts-page .contacts-wrapper .contacts-info .info-container .form {
  flex-direction: column;
}
@media (max-width: 870px) {
  .contacts-page .contacts-wrapper .contacts-info .info-container .info, .contacts-page .contacts-wrapper .contacts-info .info-container .form {
    text-align: center;
    width: 50%;
    align-items: center;
    gap: 1.5em;
  }
}
@media (max-width: 700px) {
  .contacts-page .contacts-wrapper .contacts-info .info-container .info, .contacts-page .contacts-wrapper .contacts-info .info-container .form {
    width: 100%;
  }
}
.contacts-page .contacts-wrapper .contacts-info .info-container .info div, .contacts-page .contacts-wrapper .contacts-info .info-container .form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacts-page .contacts-wrapper .contacts-info .info-container .info div h5, .contacts-page .contacts-wrapper .contacts-info .info-container .form div h5 {
  font-size: 1rem;
  font-weight: 600;
}
.contacts-page .contacts-wrapper .contacts-info .info-container .info div div, .contacts-page .contacts-wrapper .contacts-info .info-container .form div div {
  border-radius: 31px;
  background-color: #db4444;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contacts-page .contacts-wrapper .contacts-info .info-container div p {
  font-size: 14px;
}
.contacts-page .contacts-wrapper .contacts-info .info-container .middleline {
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.5;
}
@media (max-width: 870px) {
  .contacts-page .contacts-wrapper .contacts-info .info-container .middleline {
    display: none;
  }
}
.contacts-page .contacts-wrapper .contacts-form {
  width: 70%;
}
.contacts-page .contacts-wrapper .contacts-form .form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: wrap;
  flex-wrap: nowrap;
  gap: 2em;
}
@media (max-width: 480px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container {
    display: block !important;
  }
}
.contacts-page .contacts-wrapper .contacts-form .form-container div {
  width: 100%;
}
.contacts-page .contacts-wrapper .contacts-form .form-container div input, .contacts-page .contacts-wrapper .contacts-form .form-container div textarea {
  text-indent: 1em;
  border: 0;
  background-color: #f5f5f5;
}
@media (max-width: 480px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container div input {
    width: 150px;
    margin-bottom: 1em;
  }
}
.contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}
@media (max-width: 1300px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(1) {
    flex-wrap: wrap;
  }
}
.contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(1) input {
  width: 235px;
  height: 50px;
}
@media (max-width: 990px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(1) input {
    width: 80%;
  }
}
.contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(2) textarea {
  resize: none;
  width: 100%;
  padding-top: 13px;
  height: 207px;
}
.contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(3) {
  display: flex;
  align-items: center;
}
@media (max-width: 960px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(3) {
    flex-direction: column-reverse;
    gap: 1em;
  }
}
.contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(3) #formPopup {
  margin-right: 1.5em;
  display: block;
  height: 50px;
  padding: 1em 2em;
  color: white;
  text-align: center;
  background-color: #db4444;
  border-radius: 4px;
  text-indent: 0;
  float: right;
}
@media (max-width: 485px) {
  .contacts-page .contacts-wrapper .contacts-form .form-container div:nth-child(3) #formPopup {
    font-size: 3vw;
  }
}/*# sourceMappingURL=contacts.css.map */