{% extends 'base.html' %}

{% block content %}
  
  <section class="cart" id="cart">

    {% if cart %}
      <section class="flash_message">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </section>

      <section class="cart__title">
        <p>{{ _('Home') }} / <span>{{ _('Cart') }}</span></p>
      </section>

      <section class="cart__item--container">
        
          <table class="cart__item--table">
            <form method="post" id="cartForm" action="{{ url_for('cart_bp.update_cart')}}">
             <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
             <thead class="cart__item--title">
               <tr class="__item--container">
                <td>{{ _('Product') }}</td>
                <td>{{ _('Price') }}</td>
                <td>{{ _('Quantity') }}</td>
                <td>{{ _('SubTotal') }}</td>
               </tr>
             </thead>
             <tbody class="cart__items">
                {% for item in cart %}
                  <tr class="__item--container">  
                    <th>
                      <a href="{{ url_for('cart_bp.remove_from_cart', product_id=item.id) }}" class="delete">
                        x
                      </a>
                      <a href="{{ url_for('shop_bp.inner_product', id=item.id) }}" class="product">
                        <img src="{{ url_for('static', filename='images/product_images/' + item.image )}}" alt="item image" width="70" height="70">{{ item.name |  truncate(15)}}
                      </a>
                    </th>
                    <th>${{ item.price }}</th>
                    <th class="amount">
                      <input type="hidden" name="item_id" value="{{ item.id }}">
                      <input type="number" name="item_amount" value="{{ item.amount }}" min="1" max="100">
                    </th>
                    <th>${{ item.price * item.amount }}</th>
                  </tr>
                  {% endfor %}
              </tbody>
            </form>
          </table>

          <section class="cart__footer">
            <div class="cart__redirects">
              <a href="{{ url_for('core_bp.base') }}">
                {{ _('Return To Shop') }}
              </a>
              
              <a href="{{ url_for('cart_bp.clear_cart') }}">
                <button type="button">{{ _('Clear Cart') }}</button>
              </a>
              
              <a>
                <button type="submit" form="cartForm">{{ _('Update cart') }}</button>
              </a>
            </div>
            
            <div class="cart__checkout_redirect">
              <section class="coupon">
                <input type="text" placeholder="{{ _('Coupon Code') }}" min="6" max="6">
                <button type="submit">{{ _('Apply Coupon') }}</button>
              </section>

              <section class="Cart_Total">
                <div class="container">
                  <h2>{{ _('Cart Total') }}</h2>
                  <div class="info">
                   <p>{{ _('SubTotal') }}</p>
                   <p>${{ total_price }}</p>
                  </div>
                  <span class="line"></span>
                  <div class="info">
                    <p>{{ _('Shipping') }}</p>
                    <p>{{ _('Free') }}</p>
                  </div>
                  <span class="line"></span>
                  <div class="info">
                    <p>{{ _('Total') }}:</p>
                    <p>${{ total_price }}</p>
                  </div>
                  <div class="primaryBTN--container">
                    <a href="{{ url_for('payment_bp.checkout') }}" class="primaryBTN-btn">{{ _('Proceed to checkout') }}</a>
                  </div>
                </div>
              </section>
            </div>
          
          </section>
        </section>

    {% else %}

     <section>
       <h1>{{ _('No items in cart') }}.</h1>
      </section>
    
    {% endif %}

  </section>
{% endblock %}