{% extends 'base.html' %}

{% block content %}
  
  <section class="cart" id="cart">

    {% if cart %}
      <section class="flash_message">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </section>

      <section class="cart__title">
        <p>{{ _('Home') }} / <span>{{ _('Cart') }}</span></p>
      </section>

      <section class="cart__item--container">
        
          <table class="cart__item--table">
            <form method="post" action="{{ url_for('cart.update_cart') }}" id="cartForm" enctype="multipart/form-data">
             {{ form.hidden_tag() }}
             <thead class="cart__item--title">
               <tr class="__item--container">
                <td>{{ _('Product') }}</td>
                <td>{{ _('Price') }}</td>
                <td>{{ _('Quantity') }}</td>
                <td>{{ _('SubTotal') }}</td>
               </tr>
             </thead>
             <tbody class="cart__items">
                {% for item in cart %}
                  <tr class="__item--container">
                    <th>
                      <a href="/cart/{{ item.id }}/remove_from_cart" class="delete">
                        x
                      </a>
                      <a href="/product_details/{{ item.id }}" class="product">
                        <img src="{{ url_for('static', filename='images/product_images/' + item.image )}}" alt="item image" width="70" height="70">{{ item.name |  truncate(15)}}
                      </a>
                    </th>
                    <th>${{ item.price }}</th>
                    <th class="amount">
                      {% for form_item in form.items %}
                        {{ form_item.csrf_token() }}
                        {{ form_item.new_amount(value=item.amount, min=1, max=100) }}
                        {{ form_item.item_id(value=item.id) }}
                      {% endfor %}
                    </th>
                    <th>${{ item.price * item.amount }}</th>
                  </tr>
                  {% endfor %}
              </tbody>
            </form>
          </table>

          <section class="cart__footer">
            <div class="cart__redirects">
              <a href="/home">
                {{ _('Return To Shop') }}
              </a>
              
              <a href="/cart/clear_cart">
                <button type="submit">{{ _('Clear Cart') }}</button>
              </a>
              
              {{ form.update_cart(form='cartForm') }}
            </div>
            
            <div class="cart__checkout_redirect">
              <section class="coupon">
                <input type="text" placeholder="{{ _('Coupon Code') }}" min="6" max="6">
                <button type="submit">{{ _('Apply Coupon') }}</button>
              </section>

              <section class="Cart_Total">
                <div class="container">
                  <h2>{{ _('Cart Total') }}</h2>
                  <div class="info">
                   <p>{{ _('SubTotal') }}</p>
                   <p>${{ total_price }}</p>
                  </div>
                  <span class="line"></span>
                  <div class="info">
                    <p>{{ _('Shipping') }}</p>
                    <p>{{ _('Free') }}</p>
                  </div>
                  <span class="line"></span>
                  <div class="info">
                    <p>{{ _('Total') }}:</p>
                    <p>${{ total_price }}</p>
                  </div>
                  <div class="primaryBTN--container">
                    <a href="/checkout" class="primaryBTN-btn">{{ _('Proceed to checkout') }}</a>
                  </div>
                </div>
              </section>
            </div>
          
          </section>
        </section>

    {% else %}

     <section>
       <h1>{{ _('No items in cart') }}.</h1>
      </section>
    
    {% endif %}

  </section>
{% endblock %}