@import '../abstracts/mixins';
@import '../abstracts/attributes';
@import '../abstracts/placeholders';

.flash_message {
  padding: 1em 2em 0 2em;
}


.register {
  @include flexbox(row, space-between, center, nowrap);
  @extend %width;
  padding: 70px 0;
  gap: 6em;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  div:nth-child(1) {
    width: 100%;
    
    img {
      width: 100%;

      @media (max-width: 770px) {
        display: none;
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
    height: 100%;
    font-family: $secondaryFont;
    color: black; 
    
    @media (max-width: 770px) {
      align-items: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 500;
      white-space: nowrap;

      @media (max-width: 900px) {
        font-size: 1.5rem;
      }
    }

    p {
      margin-bottom: 1em;

      @media (max-width: 900px) {
        font-size: .8rem;
        white-space: nowrap;
      }
    }

    form {
      div {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 770px) {
          width: 100%;
        }

        input {
          border: none;
          width: 370px;
          border-bottom: 1px solid gray;

          @media (max-width: 900px) {
            width: 250px;
          }
        }

        div {
          @include flexcenter(row);

          @media (max-width: 905px) {
            flex-direction: column;
            align-items: flex-start;
          }

          @media (max-width: 700px) {
            align-items: center;
            text-align: center;
          }
       
          input[type=submit] {
            padding: 16px 48px;
            color: white;
            background-color: $red;
            border-radius: 4px;
            width: 143px;
            height: 56px;
          }

          a {
            width: 100%;
            color: $red;
            white-space: nowrap;
          }
        }
      }
    }
  }
}